<div class="title-container">
  <h1 class="title">Course: ########</h1>
</div>

<div class="options-container">
  <mat-card class="action-card">
    <mat-card-header>
      <div class="header-content">
        <mat-icon class="header-icon">menu_book</mat-icon>
        <mat-card-title class="header-title">Editar contenido</mat-card-title>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="action-card">
    <mat-card-header>
      <div class="header-content">
        <mat-icon class="header-icon">videocam</mat-icon>
        <mat-card-title class="header-title">Tutorías</mat-card-title>
      </div>
    </mat-card-header>
  </mat-card>
</div>
