<div *ngIf="type_user === 1">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="main-sidenav"
                 [fixedInViewport]="false">
      <mat-nav-list class="options-list">
        <div class="logo-container">
          <img class="logo" src="https://i.imgur.com/1DP47wd.jpeg" alt="LearneLogo" width="100" height="100" routerLink="/mainPage/myCourses">
        </div>
        <mat-list-item>
          <a routerLink="/mainPage/myCourses"><mat-icon>view_list</mat-icon>{{ 'mainPage.catalog' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/mainPage/myCourses"><mat-icon>class</mat-icon>{{ 'mainPage.courses' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/mainPage/grades"><mat-icon>grade</mat-icon>{{ 'mainPage.grades' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/mainPage/calendar"><mat-icon>calendar_today</mat-icon>{{ 'mainPage.calendar' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/mainPage/plans"><mat-icon>card_membership</mat-icon>{{ 'mainPage.plans' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/mainPage/profile"><mat-icon>account_circle</mat-icon>{{ 'mainPage.profile' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <a (click)="logout()"><mat-icon>logout</mat-icon>{{ 'mainPage.logOut' | translate }}</a>
        </mat-list-item>
      </mat-nav-list>
      <div class="button-language-container">
        <app-language-switcher></app-language-switcher>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div *ngIf="type_user === 0">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="main-sidenav"
                 [fixedInViewport]="false">
      <mat-nav-list class="options-list">
        <mat-list-item>
          <p><mat-icon>history</mat-icon>{{ 'mainPage.management' | translate }}</p>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/mainPage/profile"><mat-icon>account_circle</mat-icon>{{ 'mainPage.profile' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <a (click)="logout()"><mat-icon>logout</mat-icon>{{ 'mainPage.logOut' | translate }}</a>
        </mat-list-item>
      </mat-nav-list>
      <div class="button-language-container">
        <app-language-switcher></app-language-switcher>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>





