.sidenav-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.main-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  background: rgb(103, 58, 182);
  text-decoration-color: white;
}

.options-list p {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}


.button-language-container {
  position: absolute;
  bottom: 0;
  left: 1vw;
  margin: 2vw 0;
  text-align: center;
}

.options-list {
  padding-bottom: 50px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.logo {
  cursor: pointer;
}

.options-list mat-list-item {
  display: flex;
  align-items: center;
  text-align: center;
}

.options-list mat-list-item a {
  display: flex;
  width: 100%;
}
