<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="main-sidenav"
               [fixedInViewport]="false">
    <mat-nav-list class="options-list">
      <mat-list-item>
        <p><mat-icon>class</mat-icon> Mis Cursos</p>
      </mat-list-item>
      <mat-list-item>
        <p><mat-icon>checklist</mat-icon> Actividades</p>
      </mat-list-item>
      <mat-list-item>
        <p><mat-icon>history</mat-icon> Historial de Cursos</p>
      </mat-list-item>
      <mat-list-item>
        <p><mat-icon>calendar_today</mat-icon> Calendario</p>
      </mat-list-item>
      <mat-list-item>
        <p><mat-icon>card_membership</mat-icon> Planes</p>
      </mat-list-item>
      <mat-list-item>
        <p><mat-icon>assignment</mat-icon> Mis Notas</p>
      </mat-list-item>
      <mat-list-item>
        <p><mat-icon>account_circle</mat-icon> Perfil</p>
      </mat-list-item>
      <mat-list-item>
        <p><mat-icon>logout</mat-icon> Cerrar Sesión</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
<router-outlet></router-outlet>

