<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="main-sidenav"
                 [fixedInViewport]="false">
      <mat-nav-list class="options-list">
        <mat-list-item>
          <a routerLink="/mainPage/myCourses"><mat-icon>class</mat-icon> {{ 'mainPage.courses' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <p><mat-icon>checklist</mat-icon> {{ 'mainPage.activities' | translate }}</p>
        </mat-list-item>
        <mat-list-item>
          <p><mat-icon>history</mat-icon> {{ 'mainPage.history' | translate }}</p>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/mainPage/calendar"><mat-icon>calendar_today</mat-icon> {{ 'mainPage.calendar' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/mainPage/allPlans"><mat-icon>card_membership</mat-icon> {{ 'mainPage.plans' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <p><mat-icon>assignment</mat-icon> {{ 'mainPage.scores' | translate }}</p>
        </mat-list-item>
        <mat-list-item>
          <p><mat-icon>account_circle</mat-icon> {{ 'mainPage.profile' | translate }}</p>
        </mat-list-item>
        <mat-list-item>
          <p><mat-icon>logout</mat-icon> {{ 'mainPage.logOut' | translate }}</p>
        </mat-list-item>
      </mat-nav-list>
      <div class="button-language-container">
        <app-language-switcher></app-language-switcher>
      </div>
    </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>





