
<div class="title-container">
  <h1>Planes disponibles</h1>
</div>

<div class="plans-container">
  <mat-card class="plan-container plan-left">
    <mat-card-header>
      <mat-card-title>Free S/. 0 al mes</mat-card-title>
      <mat-card-subtitle>S/. 00.00</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Máximo 3 cursos inscritos a la vez</li>
        <li>Sin tutorías personalizadas</li>
        <li>Sin acceso a material extra </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button class="button">Elegir plan</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="plan-container plan-right">
    <mat-card-header>
      <mat-card-title>Learner S/. 20 al mes</mat-card-title>
      <mat-card-subtitle>S/. 20.00</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Inscríbete a cursos ilimitados</li>
        <li>Tutorías personalizadas</li>
        <li>Acceso a material extra </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" (click)="goToCardPayment()">Elegir plan</button>
    </mat-card-actions>
  </mat-card>
</div>




