<div class="payment-container">
  <mat-card class="payment-card">
    <mat-card-header>
      <mat-card-title>{{'payment.title'|translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="payment-form">
        <mat-form-field appearance="fill">
          <mat-label>{{'payment.titular'|translate}}</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{'payment.number'|translate}}</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{'payment.date'|translate}}</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{'payment.code'|translate}}</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{'payment.email'|translate}}</mat-label>
          <input matInput type="password">
        </mat-form-field>
        <div class="buttons">
          <a mat-raised-button color="primary" routerLink="/payment/success">{{'payment.pay'|translate}}</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
