<div class="subscription-plans">
  <div class="our-plans-container">
    <mat-card class="our-plans">
      <mat-card-header>
        <mat-card-title>{{'subscriptions.title'|translate}}</mat-card-title>
        <mat-card-subtitle>{{'subscriptions.subtitle'|translate}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="plans-container">
    <mat-card class="plan">
      <mat-card-header>
        <mat-card-title>{{'subscriptions.nameFree'|translate}}</mat-card-title>
        <mat-card-subtitle>{{'subscriptions.costFree'|translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><mat-icon>assignment_late</mat-icon> {{'allPlans.f1Characteristic'|translate}}</li>
          <li><mat-icon>assignment_ind</mat-icon> {{'allPlans.f2Characteristic'|translate}}</li>
          <li><mat-icon>folder</mat-icon> {{'allPlans.f3Characteristic'|translate}}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="updatePlan(Plan.FREE)" routerLink="/mainPage">{{'subscriptions.subscribe'|translate}}</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="plan">
      <mat-card-header>
        <mat-card-title>{{'subscriptions.namePremium'|translate}}</mat-card-title>
        <mat-card-subtitle>{{'subscriptions.costPremium'|translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><mat-icon>assignment_turned_in</mat-icon> {{'allPlans.p1Characteristic'|translate}}</li>
          <li><mat-icon>assignment_ind</mat-icon> {{'allPlans.p2Characteristic'|translate}}</li>
          <li><mat-icon>folder</mat-icon> {{'allPlans.p3Characteristic'|translate}}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="updatePlan(Plan.PREMIUM)" routerLink="/payment">{{'subscriptions.subscribe'|translate}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
