.sign-up-container {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.sign-up-card{
  text-align: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-link {
  margin-top: 20px;
  text-align: center;
}
