<div class="sign-up-container">
  <mat-card class="sign-up-card">
    <mat-card-header>
      <mat-card-title>Registrarse en Learn.E</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="sign-up-form">
        <mat-form-field appearance="fill" >
          <input [(ngModel)]="user.firstName" matInput name="firstName" placeholder="Nombre" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="user.lastName" matInput name="lastName" placeholder="Apellido" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="user.username" matInput name="username" placeholder="Usuario" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="user.email" matInput name="email" placeholder="Correo electrónico" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="user.password" matInput type="password" name="password" placeholder="Contraseña" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Escoge tu rol</mat-label>
          <mat-select [(ngModel)]="user.type" [(value)]="user.type">
            <mat-option></mat-option>
            <mat-option [value]="UserType.STUDENT">Alumno</mat-option>
            <mat-option [value]="UserType.TEACHER">Profesor</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button color="primary" routerLink="/home/subscriptions">Planes Disponibles</button>
        <mat-form-field>
          <mat-label>Escoge tu plan</mat-label>
          <mat-select [(ngModel)]="user.plan" [(value)]="user.plan">
            <mat-option></mat-option>
              <mat-option [value]="PlanType.FREE">Gratis</mat-option>
              <mat-option [value]="PlanType.PREMIUM">LearnE Premium</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container class="buttons">
          <button mat-raised-button color="primary" (click)="createNewUser()" routerLink="/home/payment">Crear Cuenta</button>
        </ng-container>
      </form>
      <p class="login-link">¿Ya tienes una cuenta? <a routerLink="/home/signIn">Inicia sesión aquí</a></p>
    </mat-card-content>
  </mat-card>
</div>
