<div class="sign-up-container">
  <mat-card class="sign-up-card">
    <mat-card-header>
      <mat-card-title>Registrarse en Learn.E</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="sign-up-form">
        <mat-form-field appearance="fill" >
          <input [(ngModel)]="user.firstName" matInput name="firstName" placeholder="Nombre" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="user.lastName" matInput name="lastName" placeholder="Apellido" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="user.username" matInput name="username" placeholder="Usuario" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="user.email" matInput name="email" placeholder="Correo electrónico" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="user.password" matInput type="password" name="password" placeholder="Contraseña" required>
        </mat-form-field>
        <label id="user-radio-group-label">Escoge tu rol</label>
        <mat-radio-group
          aria-labelledby="user-radio-group-label"
          class="user-radio-group"
          [(ngModel)]="user.type" name="userType">
          <mat-radio-button class="user-radio-button" [value]="UserType.STUDENT">Alumno</mat-radio-button>
          <mat-radio-button class="user-radio-button" [value]="UserType.TEACHER">Profesor</mat-radio-button>
        </mat-radio-group>
        <ng-container class="buttons">
          <button mat-raised-button color="primary" (click)="createNewUser()" routerLink="/home/subscriptions">Crear Cuenta</button>
        </ng-container>
      </form>
      <p class="login-link">¿Ya tienes una cuenta? <a routerLink="/home/signIn">Inicia sesión aquí</a></p>
    </mat-card-content>
  </mat-card>
</div>
