<div class="title-container">
  <h1 class="title">Exam</h1>
</div>

<div class="form">
  <div class="input-content">
    <mat-label class="label">Title</mat-label>
    <input class="input" placeholder="Tile">
  </div>
  <h2><b>Add question</b></h2>
  <div class="question-container">
    <div class="input-content">
      <mat-label class="label">Question</mat-label>
      <input class="input" placeholder="Write your question">
    </div>
    <div class="input-content">
      <mat-label class="label">Answer 1</mat-label>
      <input class="input" placeholder="Write your answer">
    </div>
    <div class="input-content">
      <mat-label class="label">Answer 2</mat-label>
      <input class="input" placeholder="Write your answer">
    </div>
    <div class="input-content">
      <mat-label class="label">Answer 3</mat-label>
      <input class="input" placeholder="Write your answer">
    </div>
    <button class="button">Save question</button>
  </div>
  <div class="saved-questions">
    AAAAAAAAA
  </div>
</div>
