.payment-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  /*border-radius: 2rem;*/
  /*box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.1);*/
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 3rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.pay {
  color: white;
  background-color: #9600CD;
}

.pay:hover {
  background-color: #7027C3;
}

.cancel {

}

.cancel:hover {
  background-color: #D9D9D9;
}

.buttons {
  display: flex;
  margin: auto;
  gap: 0.5rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.payment-icon {
  font-size: 24px;
  color: #7027C3;
  margin-right: 8px;
}

.header-text {
  font-size: 24px;
  color: #7027C3;
  font-weight: bold;
}



