<form class="payment-form">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'cardPayment.nameCard' | translate }}</mat-label>
    <input matInput [(ngModel)]="nameCard" name="nameCard">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'cardPayment.numberCard' | translate }}</mat-label>
    <input matInput [(ngModel)]="numberCard" name="numberCard">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'cardPayment.eDate' | translate }}</mat-label>
    <input matInput [(ngModel)]="expireDate" name="expireDate">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'cardPayment.sCode' | translate }}</mat-label>
    <input matInput [(ngModel)]="securityCode" name="securityCode">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'cardPayment.email' | translate }}</mat-label>
    <input matInput [(ngModel)]="email" name="email">
  </mat-form-field>
  <div class="buttons">
    <button class="button pay" (click)="pay()">{{ 'cardPayment.pay' | translate }}</button>
    <button class="button cancel" (click)="cancelPayment()">{{ 'cardPayment.cancel' | translate }}</button>
  </div>
</form>


