.payment-success-card {
  max-width: 30vw;
  margin: 5vw auto;
  text-align: center;
  background-color: white;
  padding: 4vw;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.payment-success-card mat-card-header {
  justify-content: center;
}

.button {
  background-color: #9600CD;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 3rem;
  transition: background-color 0.3s ease;
  margin:auto;
  cursor: pointer;
}

.button:hover {
  background-color: #7027C3;
}

mat-card-actions {
  margin-top: 2vw;
}

.checked-img {
  margin:auto;
}


.checked-icon {
  font-size: 24px;
  color: #7027C3;
  margin: auto;
}

