<mat-card class="payment-success-card">
<!--  <img src="assets/img/checked.png" alt="LogoPaymentSuccesful" class="checked-img" width="128px">-->
  <mat-icon class="checked-icon">check_circle</mat-icon>
  <mat-card-header>
    <mat-card-title>{{ 'paymentSuccessful.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
    <p>{{ 'paymentSuccessful.thankYouMessage' | translate }}</p>
    <br>
    <p>{{ 'paymentSuccessful.subscriptionBenefits' | translate }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="button" (click)="goTopPlans()">{{ 'paymentSuccessful.goToPlans' | translate }}</button>
  </mat-card-actions>
</mat-card>



