<div class="container">
  <mat-card class="tutoring-card" *ngFor="let tutorial of tutoring">
    <mat-card-header>
      <mat-card-title>
        {{tutorial.date}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>{{tutorial.hour}}</mat-card-subtitle>
    </mat-card-content>
    <div class="actions">
      <button *ngIf="!tutorial.is_reservated"
              mat-raised-button
              color="primary"
              (click)="registerTutorial(tutorial.id, studentId)">
        {{ 'tutoring.register' | translate }}
      </button>
      <span *ngIf="tutorial.is_reservated" class="reserved">
        {{ 'tutoring.reserved' | translate }}
      </span>
    </div>
    <div class="actions">
      <button *ngIf="tutorial.link != ''"
              mat-raised-button
              color="primary"
              (click)="enterLink(tutorial.id)">{{ 'tutoring.enter' | translate }}</button>
    </div>
  </mat-card>
</div>
