<div class="title-container">
  <h1 class="title">Tutoring</h1>
</div>

<div class="form">
  <div class="column-left">
    <div class="input-content">
      <mat-label>Date</mat-label>
      <input type="date" class="input">
    </div>
    <div class="input-content">
      <mat-label>Hour</mat-label>
      <input type="time" class="input">
    </div>
  </div>
  <div class="column-right">
    <div class="input-content">
      <mat-label>State</mat-label>
      <input placeholder="Reservado" class="input" disabled>
    </div>
    <div class="button-container">
      <button class="button">Add</button>
    </div>
  </div>
</div>


<mat-card class="tutoring-card">
  <mat-card-content>
    <p>Date: </p>
    <p>Hour: </p>
    <p>Status:</p>
    <p>Student: </p>
    <button class="button">Add link</button>
    <div class="link-container">
      <input placeholder="Link" class="input-link">
      <button class="button">Send</button>
    </div>
  </mat-card-content>
</mat-card>
