<div class="main-container">
  <div class="header">
    <span class="selectedCourse">{{ selectedCourse?.title }}</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" routerLink="/mainPage/myCourses">{{'courses.leave' | translate}}</button>
    <button mat-button (click)="openRatingDialog()">{{'courses.rating' | translate}}</button>
    <div class="button-language-container">
      <app-language-switcher></app-language-switcher>
    </div>
  </div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened position="end">
      <mat-nav-list>
        <div *ngFor="let unit of units">
          <mat-list-item (click)="toggleUnit(unit.id)">
            <span>{{'courses.unit' | translate}}</span>
            <span>&nbsp;</span>
            <span>{{ unit.id }}:</span>
            {{ unit.title }}
          </mat-list-item>
          <div *ngIf="isUnitOpen(unit.id)" class="nested">
            <div *ngFor="let section of sections">
              <mat-list-item (click)="navigateToVideo(section.id)">
                <span>{{ 'courses.section' | translate }}</span>
                <span>&nbsp;</span>
                <span>{{ section.id }}:</span>
                {{ section.title }}
              </mat-list-item>
            </div>
            <div *ngFor="let exam of exams">
              <mat-list-item (click)="navigateToExam(exam.id)">
                {{ 'courses.exam' | translate }}: {{ exam.title }}
              </mat-list-item>
            </div>
          </div>
        </div>
        <div class="tutoring-part">
          <mat-list-item (click)="navigateToTutoring()">
            {{ 'courses.tutorials' | translate }}
          </mat-list-item>
        </div>
        <div class="material-extras-part">
          <mat-list-item (click)="navigateToMaterial()">
            {{ 'courses.materials' | translate }}
          </mat-list-item>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <div class="video-container" *ngIf="videoUrl">
        <video *ngIf="isLocalVideo" controls>
          <source [src]="videoUrl" type="video/mp4">
          Tu navegador no soporta la reproducción de videos.
        </video>
        <iframe *ngIf="!isLocalVideo"
                [src]="videoUrl"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
