.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  display: flex;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.spacer {
  flex: 1;
}

.mat-sidenav {
  height: 100%;
  width: 25%;
}

.mat-nav-list {
  height: 100%;
  overflow: auto;
}

.nested {
  padding-left: 20px;
}
