<div class="video-wrapper">
  <div class="video-content">
    <div class="video-container" *ngIf="videoUrl">
      <video *ngIf="isLocalVideo" controls>
        <source [src]="videoUrl" type="video/mp4">
        Tu navegador no soporta la reproducción de videos.
      </video>
      <iframe *ngIf="!isLocalVideo"
              [src]="videoUrl"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
      </iframe>
    </div>
    <div class="tab-container">
      <mat-tab-group class="tab-group">
        <mat-tab label="{{'courses.description' | translate }}">
          <div class="description-content">
            {{this.section.description}}
          </div>
        </mat-tab>
      </mat-tab-group>
      <button mat-raised-button color="primary" class="update-button">Update Section</button>
    </div>
  </div>
</div>
